.PhoneNumber {
  &__Box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 516px;
    height: 154px;
    gap: 24px
  }
    &__Heading {
      font-family: Poppins;
      font-size: 18px;
      font-weight: 600;
      line-height: 24px;
      letter-spacing: 0em;
      text-align: left;
    }
    &__Wrapper {
      height: 500px;
      min-height: 200px;
      width: 200px;
      overflow-y: auto;
    }
    &__listItems {
      display: flex;
      flex-direction: row;
    }
    &__digicode {
      align-self: flex-end;
margin-left: auto;
margin-right: 10px;
    }
    &__countrybox {
      display: flex;
      flex-direction: row
    }
  }
  